<div class="content">
    <h1 class="aboutTitle">La experiencia no se reinicia, se transforma</h1>
    <div class="aboutContent">
        <div class="aboutText">
            <h5>De la mecánica al desarrollo web, aplico todo lo aprendido para crear soluciones con propósito.</h5>
            <p class="aboutP">Hola, soy <b>Juanjo Salas</b>, desarrollador web fullstack con una base técnica construida a partir de proyectos personales y un fuerte compromiso por aprender y crear soluciones útiles.</p>
            <p class="aboutP">Durante más de ocho años trabajé en la industria de la automoción, comenzando como mecánico y llegando a ser jefe de taller en un concesionario oficial. Esta experiencia me permitió desarrollar habilidades clave como liderazgo, gestión de equipos, resolución de problemas complejos y trato directo con clientes. Hoy, esas competencias potencian mi trabajo en el desarrollo web.</p>
            <p class="aboutP">Mi objetivo es combinar toda esa experiencia práctica con las mejores tecnologías y metodologías actuales para construir aplicaciones eficientes, escalables y con un impacto real.</p>
        </div>
        <div class="aboutImage">
            <div class="aboutBorder">
                <img class="faceImage" src="images/me.svg" alt="">
            </div>
        </div>
    </div>
    <h3 class="aboutTitle">Habilidades técnicas</h3>
    <ul class="ulSkills">
        <li class="liSkills">HTML5</li>
        <li class="liSkills">CSS3</li>
        <li class="liSkills">JavaScript ES6</li>
        <li class="liSkills">React</li>
        <li class="liSkills">Vite</li>
        <li class="liSkills">Angular</li>
        <li class="liSkills">Node.js</li>
        <li class="liSkills">Express.js</li>
        <li class="liSkills">MongoDB</li>
        <li class="liSkills">SQL</li>
        <li class="liSkills">Git</li>
        <li class="liSkills">Docker</li>
        <li class="liSkills">Postman</li>
        <li class="liSkills">Figma</li>
        <li class="liSkills">Material UI</li>
        <li class="liSkills">Bootstrap</li>
    </ul>
    <div class="educationContent">
        <h3 class="aboutTitle">Formación</h3>
    </div>
</div>
