.aboutTitle {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;

    .aboutText {
        width: 50%;

        h5 {
            margin: 0 0 20px;
            font-size: 22px;
            color: var(--secundaryColor);
        }

        .aboutP {
            font-size: 18px;
            line-height: 1.6; 
        }
    }

    .aboutImage {
        margin-left: 25px;
        text-align: center;
        width: 50%;

        .aboutBorder {
            max-width: 280px;
            border: 1px solid var(--primaryColor);
            padding: 24px;
            border-radius: 8px;
            box-shadow: 20px 20px 0px var(--secundaryColor);

            .faceImage {
                min-width: 260px;
                border-radius: 8px;
            }
        }
    }
}

.categorySkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border-top: 1px solid #2e2e2e;

    h4 {
        font-size: 25px;
    }

    .ulSkills {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .liSkills {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100px;
            height: 100px;
            list-style-type: none;
            background-color: var(--secundaryColor);
            padding: 12px 20px;
            font-weight: 600;
            color: #121515;
            clip-path: polygon(
                50% 0%, 
                93% 25%, 
                93% 75%, 
                50% 100%, 
                7% 75%, 
                7% 25%
            );
        }
    }
}

.educationContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    .timeline {
        width: 700px;
        position: relative;
        border-left: 2px solid var(--primaryColor);

        .timelineItem {
            position: relative;
            margin-bottom: 40px;
            margin-left: 5px;
            padding-left: 30px;

            .timelineIcon {
                position: absolute;
                left: -26px;
                top: 0;
                background-color: var(--secundaryColor);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 0 4px #121515;
                color: #121515;
            }

            .timelineContent {
                background-color: #1e2222;
                padding: 15px 20px;
                border-radius: 12px;
                color: var(--primaryColor);
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
                transition: transform 0.3s ease;

                h3 {
                    margin: 0 0 8px;
                    font-size: 18px;
                    color: var(--secundaryColor);
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    line-height: 1.4;
                }
            }

            &:hover .timelineContent {
                transform: translateY(-4px);
            }
        }
    }
}

@media (max-width: 768px) {
    .aboutTitle {
        padding: 0 20px;
        line-height: 1.2;
        
    }

  .aboutContent {
        flex-direction: column;
        padding: 0;
        align-items: center;
        text-align: center;

        .aboutText {
            width: 80%;

            h5 {
                font-size: 20px;
            }

            .aboutP {
                font-size: 16px;
            }
        }
    }

    .educationContent .aboutTitle {
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .educationContent .timeline {
        margin-top: 0;
        width: 80%;
        border-left: 2px solid var(--primaryColor);
    }

    .educationContent .timelineItem {
        padding-left: 20px;
        margin-left: 0;
    }

    .educationContent .timelineItem .timelineContent {
        text-align: left;
        padding: 15px;
    }

    .educationContent .timelineItem .timelineIcon {
        left: -20px;
    }
}