.flex {
        display: flex;
        flex-direction: row;
    }
    
header {
        @extend .flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        font-weight: 500;
    }

    .navBar {
        @extend .flex;
        gap: 30px;
        
        a {
            border-bottom: 1px solid transparent;
            padding-bottom: 4px;
            transition: all .4s;
            color: var(--primaryColor);
            text-decoration: none;

            &:hover, &.active {
                color: var(--secundaryColor);
                text-decoration: none;
            }

            &:hover {
                transform: translateX(5px);
            }

            &.borderNone {
                border: 0;
            }
        }
    }

    .logo {
        height: 80px;
        margin-left: -120px;
        transition: all 0.2s;
        
            &:hover {
                filter: brightness(1.5);
                transform: translateY(5px);
            }
        }
    